.card-container {
  background: #61dafb;
  background: -webkit-linear-gradient(to top, #bae0eb, #61dafb);
  background: linear-gradient(to top, #bae0eb, #61dafb);
  padding: 48px 24px 24px;
}
.card-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
.card {
  background: #232526 !important;
  background: -webkit-linear-gradient(to top, #232526, #000) !important;
  background: linear-gradient(to top, #232526, #000) !important;
}
.card:hover {
  background: #000 !important;
  cursor: pointer;
}
.text-content {
  text-align: left;
  color: white;
  background: #000;
  background: -webkit-linear-gradient(to top, #232526, #000);
  background: linear-gradient(to top, #232526, #000);
}
.green-text {
  color: #61dafb;
}
.triangle {
  background-color: #61dafb;
  height: 500px;
}
